.score{
    background-color: #b0c1ff;
    width: 30%;
    text-align: center;
    height: 290px;
    border: 3px darkblue solid;
    border-radius: 15px;
    float: left;
    margin: 20px;
    margin-top: 50px;
    box-shadow:0 0 20px #001d87;
}

#zag{
    font-size: 27px;
}

body{
    background-color: #e3d1ff;
}

button{
    background-color: #dac2ff;
}